*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}

.card{
    position: relative;
}

img{
    max-width: 100%;
    object-fit: contain;
}



.thumbnails{
    display: flex;
    flex-direction: column;
}

.thumbnails>.thumb{
    width: calc(100% / 5);
}

.thumbnails>img{
    filter: brightness(0.3);
} 


.text_img{
    width: 50%;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 5rem;
    right: 0;
    
}


.prev{
    position: absolute;
    left: 49rem;
    top: 2.3rem;
    filter: invert(1)
}

.next{
    position: absolute;
    left: 49.2rem;
    top: 17.8rem;
    filter: invert(1)
}

.active{
    filter: brightness(1)!important;
    border: 2px solid blue;
}