*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}

.card img{
    width: 100%;
    
}

.thumbnails{
    display: flex;
    flex-direction: column;
}

.thumbnails .thumb{
    height: calc(100% / 5);
}

/* .thumbnails>img{
    opacity: 1;
} */