*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 2rem auto;
}

img{
    max-width: 100%;
}

.slider{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}